<div class="page-header">
  <h3>The Current Inventory Stock</h3>
</div>
<div class="panel panel-info">
	  <div class="panel-heading">
			<h3 class="panel-title">Computers</h3>
	  </div>
	  <div class="panel-body">
			<h2 class="text-center">{{ComputerCount}}</h2>
	  </div>
</div>
<div class="panel panel-info">
	  <div class="panel-heading">
			<h3 class="panel-title">Monitors</h3>
	  </div>
	  <div class="panel-body">
			<h2 class="text-center">{{MonitorCount}}</h2>
	  </div>
</div>
<div class="panel panel-info">
	  <div class="panel-heading">
			<h3 class="panel-title">Kits</h3>
	  </div>
	  <div class="panel-body">
			<h2 class="text-center">{{KitCount}}</h2>
	  </div>
</div>